.App{
  display: inline-flex;
  position: relative;
margin-left: 200px;
 border: 2px solid rgb(15, 214, 108);
 background-color: white;
  
width: 700px;
padding-left: 200px;
height: 100px;
margin-top: 50px;
color: rgb(115, 91, 104);


 
}
 
h2{
  display: inline-flex;
}